#detail_post_content{
    z-index: -1;
}
#post_image{
    width: 357px;
    height: 200.81px;
    margin-top:10px;
    margin-left:15px;
}
#detail_post_box{
    width:390px;
}
#detail_post{
    font-size: 17px;
    font-weight: normal;
    margin:10px 15px;
}
#like_container{
    display: flex;
    margin:15px;
}
#like_button{
    width: 24px;
    height: 24px;
}
#post_like{
    font-weight: bold;
    color:#aeaeae;
    font-size: 17px;
    margin-left:10px;
}
#reply_container{
    width: 390px;
    height: 230px;
    background-color: #d9d9d9;
    position:relative;
}
#whitebox{
    position:absolute;
    width: 357px;
    height: 201px;
    margin: 14.5px;
    background-color: white;
    border-radius: 15px;
    border: none;
}
#reply_input{
    position: absolute;
    width:350px;
    height:150px;
    top:10px;
    left:3.5px;
    resize:none;
    border:none;
    margin:0px auto;
    padding:0px;
    font-size: 15px;
    text-indent: 5px;
}
#reply_input:focus{
    outline: none;
}
#reply_input::placeholder{
    color:#d9d9d9;
    font-size: 15px;
    font-weight: normal;
    text-indent: 5px;
}
#post_line{
    position:absolute;
    bottom:50px;
    left:16px;
}
#post_submit_button{
    position: absolute;
    bottom:20px;
    left:311px;
    width:50px;
    height:25px;
    color:white;
    background-color: #408FFF;
    border: none;
    border-radius: 3px;
    font-size: 15px;
}
#reply_count{
    display: flex;
    margin:15px;
}
#chat_icon{
    width:24px;
    height:24px;
}
#post_chat{
    color:#aeaeae;
    font-size: 17px;
    font-weight: bold;
    margin-left:10px;
}