#header_bar{
    width: 390px;
    height:85px;
    position:fixed;
    top:0px;
    z-index: 2;
}
#menuicon,#bell{
    width:25px;
    height:25px;
}
#menuicon{
    position: absolute;
    left: 15px;
    top:45px;
}
#bell{
    position:absolute;
    left: 350px;
    top:45px;
}
#main_post_header{
    background-color: white;
    position:fixed;
    height: 50px;
    width: 390px;
    top: 85px;
}
#main_post_list{
    list-style: none;
    padding:0;
}
#main_post_list > li{
    float: left;
    font: 17px;
    padding-left:11px;
}
.bold{
    font-weight: bolder;
}
#write{
    position:absolute;
    width:25px;
    height: 25px;
    left:349px;
}