.containerLogin {
  width: 390px;
  height: 853px;
  margin: 0 auto;
  background: white;
  border: 1px solid black;
}

.logo {
  height: 45%;
  position: relative;
  display: block;
  align-items: center;
}

.logo img {
  padding: 60% 0 0 0;
  width: 80%;
  margin: auto;
  display: block;
}
.logo_text {
  width: 304px;
  height: 29px;
  padding-top: 15px;
  padding-bottom: 25px;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

.login_container {
  /*border: 1px solid black;*/
  margin: 0 auto;
  width: 90%;
}

.login_input_wrap {
  padding-bottom: 10px;
}

.login_input_wrap input {
  padding-left: 15px;
}
.login_input_wrap:first-of-type {
  margin-bottom: 5px;
}

.login_input_wrap input {
  height: 48px;
  width: 100%;
  margin: auto;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 8px;
}

.pwd_search {
  font-size: 13px;
  font-weight: 400;
  float: right;
  margin-bottom: 26px;
}

.button_div_login {
  margin: 46px 31px 24px 31px;
}
.button_div_login button {
  width: 328px;
  height: 48px;
  border-radius: 8px;
  background: black;
  border-color: black;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.create_account {
  margin-top: 19px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: #636363;
}

.signupLink {
  font-weight: 600;
  color: #0c1f22;
  text-decoration: none;
  margin-left: 5px;
}
